asn1crypto==1.5.1
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
click==8.2.1
cryptography==45.0.6
gplaycli==3.29
idna==3.10
lxml==6.0.0
matlink-gpapi==0.4.4.5
protobuf==3.20.3
pyaxmlparser==0.3.31
pycparser==2.22
requests==2.32.5
setuptools==80.9.0
urllib3==2.5.0
